.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #26A69A;
  padding: 25px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  margin:20px;
  margin-left: 90px;
  text-align: left; 
  padding-bottom: 40px;
  border-bottom: 1px solid #E0E0E0;
}
.title{
  font-size: 30px;
  font-weight: 500;
  color:#0d1a26;
  text-align: left;  
  margin:30px;
  margin-left: 90px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
